<div class="jumbotron text-center">
    <h1>Welcome to Myrecipes</h1>
    <h2>The best recipe sharing page</h2>    
    <p><%= link_to 'Sign up! ', signup_path, class: 'btn btn-danger'%> </p>
</div>

<%= render 'layouts/bottom' %>
<%= render 'layouts/footer' %>